@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Harukaze";
  src: url("/fonts/Harukaze.ttf") format("truetype"),
    url("/fonts/Harukaze.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nanum Brush Script";
  src: url("/fonts/NanumBrushScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ichimaru";
  src: url("/fonts/iIchimaru.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yozakura";
  src: url("/fonts/YOZAKURA-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KoreanCalligraphy";
  src: url("/fonts/Korean_Calligraphy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Science Fair";
  src: url("/fonts/science-fair.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bronze: #130d0a;
}

#content {
  background-color: var(--bronze);
}

body {
  padding: 0;
  margin: 0;
  background-color: #130d0a;
  font-family: "Playfair Display", serif;
  color: #fff;
}

/* Make sections always fill full width */
section {
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}
p {
  color: #ede0d5;
  line-height: 150%;
}

/* hide horizontal scrollbar in WebKit & Firefox */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

#scroll {
  position: absolute; /* use fixed so it stays in view */
  bottom: 20px; /* adjust distance from bottom */
  left: 50%; /* center horizontally */
  transform: translateX(-50%); /* center correction */

  z-index: 1000; /* ensure it's above background layers */

  font-family: Roboto, sans-serif;
  letter-spacing: 0.2em;
  font-size: 11px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 1rem; /* optional: some spacing */

  span {
    display: block;
  }

  svg {
    margin-top: 10px;
    width: 18px;
    height: 18px;
    animation: scroll 0.95s ease-in-out alternate infinite;
    fill: none;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  margin: 0px;
  background-color: black;
  margin-top: 50vh;
  margin-bottom: 100vh;
} */
